body
{
    background-color:antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}

td,th
{
    
    font-size: larger;
    background-color: white;
    padding: 10px;
}

#button
{
    padding: 10px;
    font-size: medium;
}

.textbox
{
    width: 100px;
    height: 50px;
    padding: 5px;
    font-size: larger;
    text-align: center;
}

